{% extends 'layouts/layout.html' %}
{% block content %}
     <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <br/><br/>
      <h1 class="mt-4 mb-3">Servicios</h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.jsp">Inicio</a>
        </li>
        <li class="breadcrumb-item active">Servicios</li>
      </ol>

        <div class="row">
            <!--for-->
            {% for servicio in servicios %}
                <div class="col-lg-3 portfolio-item">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">
                              <a href="#">{{ servicio.detalle }}</a>
                            </h4>
                            <p class="card-text">
                                  <p>Desde ${{ servicio.precio }}</p>
                            </p>
                            <form method="post" action="{% url 'addCart' %}">
                                {% csrf_token %}
                                <input type="hidden" value="{{ servicio.id }}" name="idservicio">
                                <input type="submit" class="btn btn-primary" value="Agregar">
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!--endfor-->
        </div>
    </div>
{% endblock content %}
